*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#fruits-container{
    display: flex;
    flex-wrap: wrap;
    gap:150px;
    align-items: center;
    margin-left:120px;
    margin-top:40px;
}
.price{
    font-size:20px;
    font-weight: bold;
    margin-top:5px;
}
.weight-select{
    border-color:#636AE8;
    width:200px;
    border-style: solid;
    border-width: 2px;
    border-radius:5px;
    margin-top:5px;
    font-weight: bold;
}
.add-to-cart{
    width:200px;
    margin-top:5px;
    height:28px;
    background-color: #636AE8;
    border-style: solid;
    border-color: #636AE8;
    border-radius:5px;
    color:white;
    font-size: 16px;
    font-weight: bold;
}
h1{
    font-size: 35px;
    margin-left:30px;
    margin-top:5px
}
.hcontainer{
    display:flex;
    height:7vh;
    justify-content:flex-start;
    align-items: center;
    /* background-color: #f3f4f6; */
    position: fixed;
   background-color: white;
   top:0;
   width:2000px;
    
}

.ncontainer{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 19px;
    

    
}
.ncontainer a:hover{
    color: #636AE8;
}
.search{
    height:30px;
    width:500px;
    border-style: solid;
    border-color: #636AE8;
    border-radius: 5px;
    padding:10px;
    font-size:15px;
    margin-left:50px;
    margin-right:20px;
    margin-bottom:10px;
}
.home{
    padding:6px;
}
.logo{
    margin-left: 50px;
    margin-right:10px;
}
.title{
    margin-right: 5px;
}
#category{
    background-color: #636AE8;
    height:30px;
    width:150px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    padding: 3px;

}
button{
    background-color: #636AE8;
    border-style: solid;
    border-color: #636AE8;
    height:30px;
    width:80px;
    border-radius: 5px;

}
button a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.icon{
    color:black;
    height:200px
}
.ncontainer li a{
    text-decoration: none;
    color:#000;
 }
 .signin{
    margin-left: 20px;
    width:130px;
    height:30px;
  }
.fa-solid{
      font-size:30px;
      color:#636AE8;
      margin-left: 20px;
}
.carticon{
    margin-left:20px;
    font-size:35px;

}
a i{
    font-size:30px;
      color:#636AE8;
      margin-left: 20px; 
}
.hub{
    color: #636AE8;
}
.h1head{
    margin-top:60px;
    font-size:35px;
}
.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#636ae8;
   width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-right: 100px;
    right:-80px
}

.dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color:black;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color:white;
    border: none;
    cursor: pointer;
}

i:hover {
    background-color:white;
}